.body-board-view {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.body-board-view.body-custom-board-background-tiled {
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-repeat: repeat;
}
.body-default-header #header {
  background: #27709b;
  background: -webkit-linear-gradient(top, #27709b 0, #24688f 100%);
  background: -moz-linear-gradient(top, #27709b 0, #24688f 100%);
  background: -o-linear-gradient(top, #27709b 0, #24688f 100%);
  background: -ms-linear-gradient(top, #27709b 0, #24688f 100%);
  background: linear-gradient(to bottom, #27709b 0, #24688f 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 0 rgba(0,0,0,0.1);
}
.body-custom-board-background .board-header-btn:not(.no-edit):hover,
.body-custom-board-background .sidebar-show-btn:hover {
  background: rgba(0,0,0,0.3);
}
.body-light-board-background #header {
  background: rgba(0,0,0,0.35);
}
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled),
.body-light-board-background .sidebar-show-btn {
  background: transparent;
  color: rgba(0,0,0,0.7);
}
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled) .board-header-btn-icon,
.body-light-board-background .sidebar-show-btn .board-header-btn-icon,
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled) .icon-sm,
.body-light-board-background .sidebar-show-btn .icon-sm {
  color: rgba(0,0,0,0.7);
}
.body-light-board-background .board-header-btn:not(.board-header-btn-filter-indicator):not(.board-header-btn-enabled):hover,
.body-light-board-background .sidebar-show-btn:hover {
  background: rgba(0,0,0,0.1);
}
.body-light-board-background .board-header-btn-enabled,
.body-light-board-background .board-header-btn-enabled:hover,
.body-light-board-background .board-header-btn-enabled .board-header-btn-icon,
.body-light-board-background .board-header-btn-enabled:hover .board-header-btn-icon {
  color: rgba(0,0,0,0.7);
}
.board-canvas {
  margin-right: 264px;
  position: relative;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -o-transition-property: margin;
  -ms-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#board {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#board.hide {
  display: none;
}
#board::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}
#board::-webkit-scrollbar-thumb:vertical,
#board::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255,255,255,0.4);
}
#board::-webkit-scrollbar-track-piece {
  background: rgba(0,0,0,0.15);
}
#board::-webkit-scrollbar-button {
  display: block;
  height: 5px;
  width: 5px;
}
.body-no-webkit-scrollbars:not(.firefox) #board {
  padding-bottom: 30px;
}
.version-tag {
  color: #fff;
  height: 30px;
  line-height: 15px;
  font-size: 12px;
  text-align: right;
  margin: 10px;
  white-space: pre;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  pointer-events: none;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.extra-large-window .board-wrapper.sidebar-display-wide .board-canvas {
  margin-right: 464px;
}
.extra-large-window .board-wrapper.sidebar-display-wide .board-widgets {
  width: 446px;
}
.extra-large-window .board-wrapper.sidebar-display-wide .board-header {
  padding-right: 500px;
}
.extra-large-window .board-wrapper.sidebar-display-wide .archive-controls {
  clear: both;
}
.extra-large-window .board-wrapper.sidebar-display-wide .archive-controls .archive-search input {
  width: auto;
}
.extra-large-window .board-wrapper.sidebar-display-wide .archive-controls .archive-switch {
  float: right;
  width: auto;
  z-index: 1;
}
.extra-large-window .board-wrapper.sidebar-display-wide .archive-content .show-more {
  clear: both;
}
.extra-large-window .board-wrapper.sidebar-display-wide .board-backgrounds-list .board-background-select,
.extra-large-window .board-wrapper.sidebar-display-wide .board-backgrounds-list .board-background-still-uploading {
  display: inline-block;
  padding: 0 6px 12px 0;
  width: 33%;
}
.extra-large-window .board-wrapper.sidebar-display-wide .board-backgrounds-list .board-background-select:nth-child(3n - 1),
.extra-large-window .board-wrapper.sidebar-display-wide .board-backgrounds-list .board-background-still-uploading:nth-child(3n - 1) {
  padding: 0 6px 12px 6px;
}
.extra-large-window .board-wrapper.sidebar-display-wide .board-backgrounds-list .board-background-select:nth-child(3n),
.extra-large-window .board-wrapper.sidebar-display-wide .board-backgrounds-list .board-background-still-uploading:nth-child(3n) {
  padding: 0 0 12px 6px;
}
.extra-large-window .board-wrapper.sidebar-display-wide .archived-list-card {
  float: left;
  width: 50%;
  padding: 0 0 0 0;
  min-height: 80px;
}
.extra-large-window .board-wrapper.sidebar-display-wide .archived-list-card:nth-child(2n+1) {
  clear: left;
}
.archive-controls .archive-search {
  margin: 6px 0 12px 0;
}
.archive-controls .archive-switch {
  width: 100%;
  padding: 6px 10px;
  margin: 0;
}
.board-widgets {
  background: #f0f0f0;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.4);
  box-shadow: 0 0 6px rgba(0,0,0,0.4);
  bottom: 0;
  padding: 12px 6px 0 12px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition-property: -webkit-transform, width;
  -moz-transition-property: -moz-transform, width;
  -o-transition-property: -o-transform, width;
  -ms-transition-property: -ms-transform, width;
  transition-property: transform, width;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: 246px;
  z-index: 5;
}
.board-widgets input[type="text"] {
  width: 100%;
}
.board-widgets hr {
  margin: 8px 0;
}
.board-widgets .board-widgets-title {
  position: relative;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.board-widgets .board-widgets-title .text {
  float: left;
  line-height: 14px;
  padding: 8px;
}
.board-widgets .board-widgets-title.in-frame {
  height: 46px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  overflow: visible;
}
.board-widgets .board-widgets-title .board-sidebar-back-btn {
  background: #dcdcdc;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  display: block;
  font-weight: 700;
  float: left;
  line-height: 14px;
  margin: 0 0 0 4px;
  padding: 8px 8px 8px 6px;
  position: relative;
  text-decoration: none;
}
.board-widgets .board-widgets-title .board-sidebar-back-btn .left-arrow {
  border-bottom: 15px solid transparent;
  border-right: 10px solid #dcdcdc;
  border-top: 15px solid transparent;
  display: block;
  height: 0;
  position: absolute;
  left: -10px;
  top: 0;
  width: 0;
}
.board-widgets .board-widgets-title .board-sidebar-back-btn:hover {
  background: #ccc;
}
.board-widgets .board-widgets-title .board-sidebar-back-btn:hover .left-arrow {
  border-right-color: #ccc;
}
.board-widgets .board-widgets-content-wrapper {
  overflow: hidden;
}
.board-widgets .board-widgets-content {
  padding-right: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transition-duration: 0.12s;
  -moz-transition-duration: 0.12s;
  -o-transition-duration: 0.12s;
  -ms-transition-duration: 0.12s;
  transition-duration: 0.12s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.board-widgets .board-widgets-content.left-of-frame {
  overflow: hidden;
  -webkit-transform: translateX(-280px);
  -moz-transform: translateX(-280px);
  -o-transform: translateX(-280px);
  -ms-transform: translateX(-280px);
  transform: translateX(-280px);
}
.board-widgets .board-widgets-content.right-of-frame {
  overflow: hidden;
  -webkit-transform: translateX(280px);
  -moz-transform: translateX(280px);
  -o-transform: translateX(280px);
  -ms-transform: translateX(280px);
  transform: translateX(280px);
}
.board-widgets .board-widgets-content.default {
  overflow: hidden;
}
.board-widgets .board-widgets-content.default.short {
  overflow-y: auto;
}
