.datepicker-select-date,
.datepicker-select-time {
  box-sizing: border-box;
  float: left;
  width: 50%;
}
.datepicker-select-date select,
.datepicker-select-time select {
  display: none;
  width: 100%;
}
.datepicker-select-date select.show,
.datepicker-select-time select.show {
  display: block;
}
.datepicker-select-date {
  padding-right: 12px;
}
.datepicker-select-label {
  margin-bottom: 4px;
}
.datepicker-select-input {
  padding: 4px 6px;
  width: 100%;
}
.datepicker-confirm-btns .remove-date {
  float: right;
  margin-right: 0;
}
.ui-datepicker-header {
  position: relative;
  min-height: 32px;
}
.ui-datepicker-header a {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  padding: 6px 10px;
  position: absolute;
  left: 0;
  top: 0;
}
.ui-datepicker-header a:hover {
  background-color: #dbdbdb;
}
.ui-datepicker-header a.ui-datepicker-prev,
.ui-datepicker-header a.ui-datepicker-next {
  color: #8c8c8c;
  text-decoration: underline;
}
.ui-datepicker-header a.ui-datepicker-prev:hover,
.ui-datepicker-header a.ui-datepicker-next:hover {
  color: #4d4d4d;
  text-decoration: underline;
}
.ui-datepicker-header a.ui-datepicker-next {
  left: auto;
  right: 0;
  text-align: right;
}
.ui-datepicker-header .ui-datepicker-title {
  padding: 6px 0;
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker-calendar td,
.ui-datepicker-calendar th {
  position: relative;
  text-align: center;
  padding: 0;
  width: 14%;
}
.ui-datepicker-calendar td a,
.ui-datepicker-calendar th a {
  display: block;
  padding: 5px;
  text-decoration: none;
}
.ui-datepicker-calendar td a:hover,
.ui-datepicker-calendar th a:hover {
  background-color: #e3e3e3;
  color: #4d4d4d;
}
.ui-datepicker-calendar th {
  padding: 5px;
}
.ui-datepicker-calendar .ui-priority-secondary {
  background-color: #f0f0f0;
  color: #8c8c8c;
}
.ui-datepicker-calendar .ui-priority-secondary:hover {
  background-color: #dbdbdb;
  color: #4d4d4d;
}
.ui-datepicker-calendar .ui-state-highlight {
  background: #e3e3e3;
  color: #4d4d4d;
}
.ui-datepicker-calendar .ui-state-highlight:hover {
  background-color: #dbdbdb;
  color: #4d4d4d;
}
.ui-datepicker-calendar .ui-priority-secondary.ui-state-active:hover,
.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar .ui-state-active:hover {
  background: #2e85b8;
  color: #fff;
}
