textarea,
input:not([type=file]),
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin-bottom: 12px;
  min-height: 34px;
  padding: 7px;
}
textarea.full,
input:not([type=file]).full,
button.full {
  width: 100%;
}
textarea.input-error,
input:not([type=file]).input-error,
button.input-error {
  background-color: #ece9e9;
  border-color: #ba1212;
}
textarea:focus,
input:not([type=file]):focus,
button:focus {
  outline: 0;
}
input[type="file"] {
  margin-bottom: 16px;
}
input[type="radio"] {
  -webkit-appearance: radio;
  min-height: inherit;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  margin-right: 4px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-transition: background 85ms ease-in, border-color 85ms ease-in;
  -moz-transition: background 85ms ease-in, border-color 85ms ease-in;
  -o-transition: background 85ms ease-in, border-color 85ms ease-in;
  -ms-transition: background 85ms ease-in, border-color 85ms ease-in;
  transition: background 85ms ease-in, border-color 85ms ease-in;
  width: 250px;
}
input[type="text"].inline-input,
input[type="password"].inline-input,
input[type="email"].inline-input {
  background: none;
  border: 0;
  margin: 0;
  padding: 2px;
  min-height: 0;
  height: 18px;
  width: 200px;
}
input[type="email"]:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
textarea:hover {
  border-color: #999;
}
input[type="text"]:hover.input-error,
input[type="password"]:hover.input-error,
input[type="email"]:hover.input-error,
textarea:hover.input-error {
  border-color: #ba1212;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background: #fff;
  border-color: #318ec4;
  -webkit-box-shadow: 0 0 2px #318ec4;
  box-shadow: 0 0 2px #318ec4;
}
input[type="text"]:focus.input-error,
input[type="password"]:focus.input-error,
input[type="email"]:focus.input-error,
textarea:focus.input-error {
  background-color: #f8f7f7;
  border-color: #ba1212;
  -webkit-box-shadow: 0 0 2px #d11515;
  box-shadow: 0 0 2px #d11515;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
textarea:disabled {
  background-color: #dcdcdc;
  border-color: #bfbfbf;
  color: #8c8c8c;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
select {
  max-height: 300px;
  width: 256px;
  margin-bottom: 8px;
}
option[disabled] {
  color: #8c8c8c;
}
textarea {
  height: 150px;
  -webkit-transition: background 85ms ease-in, border-color 85ms ease-in;
  -moz-transition: background 85ms ease-in, border-color 85ms ease-in;
  -o-transition: background 85ms ease-in, border-color 85ms ease-in;
  -ms-transition: background 85ms ease-in, border-color 85ms ease-in;
  transition: background 85ms ease-in, border-color 85ms ease-in;
  resize: vertical;
  width: 100%;
}
.button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
}
input[type="submit"],
input[type="button"],
button,
.button {
  background: #cfcfcf;
  background: -webkit-linear-gradient(#cfcfcf, #c2c2c2);
  background: -moz-linear-gradient(#cfcfcf, #c2c2c2);
  background: -o-linear-gradient(#cfcfcf, #c2c2c2);
  background: -ms-linear-gradient(#cfcfcf, #c2c2c2);
  background: linear-gradient(#cfcfcf, #c2c2c2);
  border: none;
  -webkit-box-shadow: 0 1px 0 #8c8c8c;
  box-shadow: 0 1px 0 #8c8c8c;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  margin: 8px 4px 0 0;
  padding: 7px 20px;
  text-align: center;
}
input[type="submit"] .wide,
input[type="button"] .wide,
button .wide,
.button .wide {
  padding-left: 30px;
  padding-right: 30px;
}
input[type="submit"] button:hover,
input[type="button"] button:hover,
button button:hover,
.button button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
  background: #c2c2c2;
  background: -webkit-linear-gradient(#c2c2c2, #b5b5b5);
  background: -moz-linear-gradient(#c2c2c2, #b5b5b5);
  background: -o-linear-gradient(#c2c2c2, #b5b5b5);
  background: -ms-linear-gradient(#c2c2c2, #b5b5b5);
  background: linear-gradient(#c2c2c2, #b5b5b5);
}
input[type="submit"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background: #b5b5b5;
  background: -webkit-linear-gradient(#b5b5b5, #a8a8a8);
  background: -moz-linear-gradient(#b5b5b5, #a8a8a8);
  background: -o-linear-gradient(#b5b5b5, #a8a8a8);
  background: -ms-linear-gradient(#b5b5b5, #a8a8a8);
  background: linear-gradient(#b5b5b5, #a8a8a8);
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}
input[type="submit"].button--white,
input[type="button"].button--white,
button.button--white,
.button.button--white {
  background: #fff;
  background: -webkit-linear-gradient(#fff, #f5f5f5);
  background: -moz-linear-gradient(#fff, #f5f5f5);
  background: -o-linear-gradient(#fff, #f5f5f5);
  background: -ms-linear-gradient(#fff, #f5f5f5);
  background: linear-gradient(#fff, #f5f5f5);
}
input[type="submit"].button--white:hover,
input[type="button"].button--white:hover,
button.button--white:hover,
.button.button--white:hover,
input[type="submit"].button--white:focus,
input[type="button"].button--white:focus,
button.button--white:focus,
.button.button--white:focus {
  background: #e6e6e6;
  background: -webkit-linear-gradient(#e6e6e6, #e6e6e6);
  background: -moz-linear-gradient(#e6e6e6, #e6e6e6);
  background: -o-linear-gradient(#e6e6e6, #e6e6e6);
  background: -ms-linear-gradient(#e6e6e6, #e6e6e6);
  background: linear-gradient(#e6e6e6, #e6e6e6);
}
input[type="submit"].button--white:active,
input[type="button"].button--white:active,
button.button--white:active,
.button.button--white:active {
  background: #e6e6e6;
}
input[type="submit"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  background: #005377;
  -webkit-box-shadow: 0 1px 0 #4d4d4d;
  box-shadow: 0 1px 0 #4d4d4d;
  color: #fff;
}
input[type="submit"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover,
input[type="submit"].primary:focus,
input[type="button"].primary:focus,
button.primary:focus,
.button.primary:focus {
  background: #004766;
}
input[type="submit"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
  background: #01628c;
}
input[type="submit"].negate:hover,
input[type="button"].negate:hover,
button.negate:hover,
.button.negate:hover,
input[type="submit"].negate:focus,
input[type="button"].negate:focus,
button.negate:focus,
.button.negate:focus {
  background: #990f0f;
  background: -webkit-linear-gradient(#990f0f, #7d0c0c);
  background: -moz-linear-gradient(#990f0f, #7d0c0c);
  background: -o-linear-gradient(#990f0f, #7d0c0c);
  background: -ms-linear-gradient(#990f0f, #7d0c0c);
  background: linear-gradient(#990f0f, #7d0c0c);
  -webkit-box-shadow: 0 1px 0 #4d4d4d;
  box-shadow: 0 1px 0 #4d4d4d;
  color: #fff;
}
input[type="submit"].negate:active,
input[type="button"].negate:active,
button.negate:active,
.button.negate:active {
  background: #7d0c0c;
  -webkit-box-shadow: 0 1px 0 #4d4d4d;
  box-shadow: 0 1px 0 #4d4d4d;
  color: #fff;
}
input[type="submit"].google,
input[type="button"].google,
button.google,
.button.google {
  background: #4285f0;
  background: -webkit-linear-gradient(#4285f0, #1366ec);
  background: -moz-linear-gradient(#4285f0, #1366ec);
  background: -o-linear-gradient(#4285f0, #1366ec);
  background: -ms-linear-gradient(#4285f0, #1366ec);
  background: linear-gradient(#4285f0, #1366ec);
  color: #fff;
}
input[type="submit"].google:hover,
input[type="button"].google:hover,
button.google:hover,
.button.google:hover,
input[type="submit"].google:focus,
input[type="button"].google:focus,
button.google:focus,
.button.google:focus,
input[type="submit"].google:active,
input[type="button"].google:active,
button.google:active,
.button.google:active {
  background: #2b75ee;
  background: -webkit-linear-gradient(#2b75ee, #115cd4);
  background: -moz-linear-gradient(#2b75ee, #115cd4);
  background: -o-linear-gradient(#2b75ee, #115cd4);
  background: -ms-linear-gradient(#2b75ee, #115cd4);
  background: linear-gradient(#2b75ee, #115cd4);
}
input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="button"].disabled,
button.disabled,
.button.disabled,
input[type="submit"].disabled:hover,
input[type="submit"]:disabled:hover,
input[type="button"].disabled:hover,
button.disabled:hover,
.button.disabled:hover,
input[type="submit"].disabled:active,
input[type="submit"]:disabled:active,
input[type="button"].disabled:active,
button.disabled:active,
.button.disabled:active {
  background: #cfcfcf;
  cursor: default;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #a8a8a8;
}
.button.with-icon {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  padding: 6px 16px 6px 30px;
  text-align: left;
}
.button.with-icon .icon-sm {
  left: 7px;
  position: absolute;
  top: 7px;
}
.button.with-icon.google .icon-sm {
  font-size: 15px;
}
fieldset {
  border: 1px solid #bfbfbf;
  padding: 15px;
  margin-bottom: 15px;
}
input[type="hidden"] {
  display: none;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline;
}
.radio-div,
.check-div {
  display: block;
  margin: 0 0 4px 20px;
  min-height: 20px;
  position: relative;
}
.radio-div input,
.check-div input {
  left: -18px;
  min-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 2px;
}
.radio-div label,
.check-div label {
  font-weight: 400;
}
label {
  display: block;
  font-weight: 700;
  margin-bottom: 4px;
}
label.form-error {
  color: #ba1212;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #8c8c8c;
}
.button-link {
  background: #fff;
  background: -webkit-linear-gradient(#fff, #f5f5f5);
  background: -moz-linear-gradient(#fff, #f5f5f5);
  background: -o-linear-gradient(#fff, #f5f5f5);
  background: -ms-linear-gradient(#fff, #f5f5f5);
  background: linear-gradient(#fff, #f5f5f5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e3e3e3;
  border-bottom-color: #c2c2c2;
  cursor: pointer;
  display: block;
  font-weight: 700;
  height: 34px;
  margin-top: 6px;
  max-width: 300px;
  padding: 7px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.button-link .on {
  background: #48b512;
  background: -webkit-linear-gradient(#48b512, #3d990f);
  background: -moz-linear-gradient(#48b512, #3d990f);
  background: -o-linear-gradient(#48b512, #3d990f);
  background: -ms-linear-gradient(#48b512, #3d990f);
  background: linear-gradient(#48b512, #3d990f);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 12px;
  font-weight: 700;
  height: 17px;
  line-height: 17px;
  margin: 0;
  padding: 2px 4px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
}
.button-link.is-on {
  padding-right: 30px;
  max-width: 196px;
}
.button-link.is-on .on {
  display: block;
}
.button-link.inline {
  color: #666;
  padding: 2px 14px;
  margin-left: 4px;
}
.button-link.setting {
  height: 52px;
  float: left;
  position: relative;
  margin-top: 0;
}
.button-link.setting.disabled {
  background: #fff;
  border-color: #e9e9e9;
  color: #8c8c8c;
  cursor: default;
}
.button-link.setting.disabled select {
  display: none;
}
.button-link.setting.disabled:hover .label {
  color: #8c8c8c;
}
.button-link.setting.disabled,
.button-link.setting.disabled:hover,
.button-link.setting.disabled:active,
.button-link.setting.disabled.primary,
.button-link.setting.disabled.primary:hover,
.button-link.setting.disabled.primary:active {
  background: #cfcfcf;
  border-color: #c2c2c2;
  border-bottom-color: #b5b5b5;
  cursor: default;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #a8a8a8;
}
.button-link.setting.disabled .icon-sm,
.button-link.setting.disabled:hover .icon-sm,
.button-link.setting.disabled:active .icon-sm,
.button-link.setting.disabled.primary .icon-sm,
.button-link.setting.disabled.primary:hover .icon-sm,
.button-link.setting.disabled.primary:active .icon-sm {
  color: #a6a6a6;
}
.button-link.setting .label {
  color: #8c8c8c;
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
}
.button-link.setting:hover .label {
  color: #eee;
}
.button-link.setting .value {
  display: block;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.button-link.setting label {
  display: none;
}
.button-link.setting select {
  border: none;
  cursor: pointer;
  height: 50px;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}
.button-link:hover {
  background: #318ec4;
  background: -webkit-linear-gradient(#318ec4, #2b7cab);
  background: -moz-linear-gradient(#318ec4, #2b7cab);
  background: -o-linear-gradient(#318ec4, #2b7cab);
  background: -ms-linear-gradient(#318ec4, #2b7cab);
  background: linear-gradient(#318ec4, #2b7cab);
  border-color: #2e85b8;
  color: #fff;
}
.button-link:hover .on {
  background-image: none;
  background-color: rgba(255,255,255,0.3);
  border-color: transparent;
}
.button-link:hover .icon-sm {
  color: #fff;
}
.button-link:active {
  background: #2e85b8;
  background: -webkit-linear-gradient(#2e85b8, #28739f);
  background: -moz-linear-gradient(#2e85b8, #28739f);
  background: -o-linear-gradient(#2e85b8, #28739f);
  background: -ms-linear-gradient(#2e85b8, #28739f);
  background: linear-gradient(#2e85b8, #28739f);
  border-color: #2b7cab;
  color: #fff;
}
.button-link:active .icon-sm {
  color: #fff;
}
.button-link .button-link.negate:hover {
  background: #990f0f;
  background: -webkit-linear-gradient(#990f0f, #7d0c0c);
  background: -moz-linear-gradient(#990f0f, #7d0c0c);
  background: -o-linear-gradient(#990f0f, #7d0c0c);
  background: -ms-linear-gradient(#990f0f, #7d0c0c);
  background: linear-gradient(#990f0f, #7d0c0c);
  border-color: linear-gradient(#990f0f, #7d0c0c);
}
.button-link .button-link.negate:active {
  background: #7d0c0c;
  border-color: #990f0f;
}
.button-link.primary {
  background: #48b512;
  background: -webkit-linear-gradient(#48b512, #3d990f);
  background: -moz-linear-gradient(#48b512, #3d990f);
  background: -o-linear-gradient(#48b512, #3d990f);
  background: -ms-linear-gradient(#48b512, #3d990f);
  background: linear-gradient(#48b512, #3d990f);
  border: 1px solid;
  border-color: #3d990f;
  color: #fff;
}
.button-link.primary .icon-sm {
  color: #fff;
}
.button-link.primary:hover {
  background: #3d990f;
  background: -webkit-linear-gradient(#3d990f, #327d0c);
  background: -moz-linear-gradient(#3d990f, #327d0c);
  background: -o-linear-gradient(#3d990f, #327d0c);
  background: -ms-linear-gradient(#3d990f, #327d0c);
  background: linear-gradient(#3d990f, #327d0c);
  border-color: #3d990f;
}
.button-link.danger {
  background: #ba1212;
  background: -webkit-linear-gradient(#ba1212, #8b0e0e);
  background: -moz-linear-gradient(#ba1212, #8b0e0e);
  background: -o-linear-gradient(#ba1212, #8b0e0e);
  background: -ms-linear-gradient(#ba1212, #8b0e0e);
  background: linear-gradient(#ba1212, #8b0e0e);
  border: 1px solid;
  border-color: #a21010;
  color: #fff;
}
.button-link.danger .icon-sm {
  color: #fff;
}
.button-link.danger:hover {
  background: #a21010;
  background: -webkit-linear-gradient(#a21010, #740b0b);
  background: -moz-linear-gradient(#a21010, #740b0b);
  background: -o-linear-gradient(#a21010, #740b0b);
  background: -ms-linear-gradient(#a21010, #740b0b);
  background: linear-gradient(#a21010, #740b0b);
  border-color: #8b0e0e;
}
button.quiet-button,
button.loud-text-button {
  background: none;
  text-align: left;
  line-height: normal;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.quiet-button:active,
button.loud-text-button:active {
  color: #4d4d4d;
  background: #d3d3d3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.quiet-button {
  font-weight: 400;
  text-decoration: underline;
}
button.loud-text-button {
  width: 100%;
}
button.loud-text-button:hover {
  color: #111;
}
.emphasis-button,
.quiet-button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #8c8c8c;
  display: block;
  margin: 2px 0;
  padding: 6px 8px;
  position: relative;
}
.emphasis-button.w-img,
.quiet-button.w-img {
  padding-left: 28px;
}
.emphasis-button .icon-sm,
.quiet-button .icon-sm {
  left: 6px;
  position: absolute;
  top: 6px;
}
.emphasis-button:hover,
.quiet-button:hover {
  color: #4d4d4d;
  background: #dcdcdc;
}
.emphasis-button:active,
.quiet-button:active {
  color: #4d4d4d;
  background: #d3d3d3;
}
.quiet-button-large {
  padding: 16px 24px;
}
.emphasis-button {
  color: #74663e;
  background: #ecdfbb;
}
.emphasis-button:hover {
  color: #53492d;
  background: #e7d6a7;
}
.emphasis-button:active {
  color: #53492d;
  background: #e1cc93;
}
.big-link {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin: 6px 0 6px 40px;
  padding: 11px;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
}
.big-link .text {
  text-decoration: underline;
}
.big-link:hover {
  background: #dcdcdc;
}
.big-link.options {
  padding-right: 41px;
}
.big-link .option {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 6px;
  top: 6px;
}
.big-link .option.spinner,
.big-link.sending .option.icon-check {
  display: none;
}
.big-link.sending .option.spinner {
  display: block;
}
.big-link.none {
  color: #8c8c8c;
  text-decoration: none;
}
.big-link.none:hover {
  background: transparent;
}
.big-link.avatar-changer {
  padding-right: 51px;
}
.big-link.avatar-changer .member {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.big-link.avatar-changer .member .member-avatar {
  height: 40px;
  width: 40px;
}
.big-link.avatar-changer .member .member-initials {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  max-height: 40px;
}
.show-more {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #8c8c8c;
  display: block;
  padding: 16px 8px 16px 40px;
  margin: 8px 0;
}
.show-more:hover {
  background: #dcdcdc;
  text-decoration: underline;
}
.show-more.compact {
  padding: 12px 8px;
  margin: 8px 0 0;
  text-align: center;
}
.board-widget .show-more {
  padding: 12px 8px 12px 40px;
}
.uploader {
  clear: both;
  cursor: pointer;
  position: relative;
  height: 34px;
  width: 100%;
}
.uploader .realfile {
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  font-size: 23px;
}
.uploader .realfile input[type="file"] {
  cursor: pointer;
  height: 34px;
  line-height: 34px;
  margin: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  padding: 0;
  width: 100%;
  z-index: 2;
  font-size: 23px;
}
.uploader:hover .fakefile {
  background: #318ec4;
  background: -webkit-linear-gradient(#318ec4, #2b7cab);
  background: -moz-linear-gradient(#318ec4, #2b7cab);
  background: -o-linear-gradient(#318ec4, #2b7cab);
  background: -ms-linear-gradient(#318ec4, #2b7cab);
  background: linear-gradient(#318ec4, #2b7cab);
  border-color: #2e85b8;
  color: #fff;
}
.uploader:hover .fakefile .icon-sm {
  color: #fff;
}
.explorer-10 input[type="file"] {
  -webkit-transform: translate(-270px, 0) scaleX(4);
  -moz-transform: translate(-270px, 0) scaleX(4);
  -o-transform: translate(-270px, 0) scaleX(4);
  -ms-transform: translate(-270px, 0) scaleX(4);
  transform: translate(-270px, 0) scaleX(4);
}
.explorer-10 input[type="file"].upload-emoji {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}
.explorer-10 input[type="file"].upload-sticker-input,
.explorer-10 input[type="file"].upload-background {
  -webkit-transform: translate(-100px, 0) scaleX(4);
  -moz-transform: translate(-100px, 0) scaleX(4);
  -o-transform: translate(-100px, 0) scaleX(4);
  -ms-transform: translate(-100px, 0) scaleX(4);
  transform: translate(-100px, 0) scaleX(4);
}
.form-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.form-grid-child {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0 8px;
}
.form-grid-child-full {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}
.form-grid-child-threequarters {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -o-box-flex: 3;
  box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-right: 8px;
}
.form-grid-child-twothirds {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin-right: 8px;
}
.dropdown-menu {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}
.dropdown-menu li {
  border-top: none;
}
.dropdown-menu li a {
  padding: 4px 12px 4px 8px;
}
.dropdown-menu li a img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}
.dropdown-menu li.active {
  background: #005377;
}
.dropdown-menu li.active a {
  color: #fff;
}
